[package]
name = "sourmash_plugin_branchwater"
version = "0.8.6"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "sourmash_plugin_branchwater"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.20.2", features = ["extension-module", "anyhow"] }
rayon = "1.8.1"
serde = { version = "1.0.195", features = ["derive"] }
sourmash = { git = "https://github.com/sourmash-bio/sourmash", branch = "select-downsample", features = ["branchwater"] }
#sourmash = { git = "https://github.com/sourmash-bio/sourmash", branch = "lirber/mastiff", features = ["branchwater"] }
#sourmash = { version = "0.12.0", features = ["branchwater"] }
serde_json = "1.0.111"
niffler = "2.4.0"
log = "0.4.14"
env_logger = "0.10.2"
simple-error = "0.3.0"
anyhow = "1.0.79"
zip = { version = "0.6", default-features = false, features = ["deflate"] }
tempfile = "3.9"
needletail = "0.5.1"
csv = "1.3.0"
camino = "1.1.6"

[dev-dependencies]
assert_cmd = "2.0.13"
assert_matches = "1.5.0"
predicates = "3.1.0"
tempfile = "3.9.0"

[profile.release]
#target-cpu=native
lto = "thin"
opt-level = 3
